html {
  --main-color: #393939;

  --accent-color: #cda177;
  --accent-light-color: #dfd1a7;

  --gray-main-color: #bbbcbc;
  --gray-light-color: #f2f2f2;
  --gray-color: #e5e5e5;

  --primary-btn-color: #dfd1a7;
  --primary-btn-hover-color: #d1bd82;

  --secondary-btn-color: #a7c186;
  --secondary-btn-hover-color: #8eb064;

  --white-color: #fff;
  --white-tr50-color: rgba(255, 255, 255, 0.5);
  --white-tr20-color: rgba(255, 255, 255, 0.2);

  --black-color: #0a090d;
  --black-tr50-color: rgba(10, 9, 13, 0.5);

  --black-second-color: #1f1f1f;
}
html.dark {
  --main-color: var(--gray-color);
  --accent-color: var(--accent-light-color);

  --black-tr50-color: var(--white-tr50-color);
  // --black-second-color: var(--white-tr50-color);

  --white-color: var(--black-color);

  body {
    background: var(--black-color);
  }

  .need-research__body,
  .item-about-services {
    background: var(--black-second-color);
  }

  .item-engin-kind,
  .projects-slider__text,
  .item-tasks:last-child,
  .item-main-section,
  .item-main-section-spoller,
  .form-estimate__phone,
  .form-contact__input,
  .header,
  .project-item:not(:last-child),
  .item-services,
  .projects-item,
  .item-tabs-main-section__title,
  .half-part-section__item {
    border-bottom: 1px solid var(--white-tr20-color);
  }

  .item-tasks,
  .footer,
  .footer__copy {
    border-top: 1px solid var(--white-tr20-color);
  }

  .working-slider-mini__wrapper::after {
    background: var(--white-tr20-color);
  }

  .working-slider-mini {
    color: var(--white-tr50-color);
  }

  .working-slider-mini__number:not(:last-child)::after {
    background: var(--white-tr20-color);
  }
  .form-contact__label {
    color: var(--white-tr50-color);
  }

  .filter__item,
  .tabs-main-section__title,
  .projects-slider-mini__title {
    color: var(--white-tr50-color);
  }
  .filter__item_active,
  ._tab-active,
  .projects-slider-mini__title_active {
    background: var(--black-second-color);
    color: var(--gray-color);
  }
  
  ._icon-arrow-circle-right {
    background: var(--white-tr20-color);
    &::before {
      color: var(--white-tr50-color);
    }
  }

  .page-header-info__body {
    border-bottom: 2px solid var(--white-tr20-color);
  }

  .phone-number_header {
    @media (max-width: $mobile) {
      &::before {
        color: var(--accent-color)!important;
      }
    }
  }
}
section:first-child {
  padding-top: 130px;
  @media (max-width: $pc) {
    padding-top: 110px;
  }
  @media (max-width: $tablet) {
    padding-top: 100px;
  }
  @media (max-width: $mobile) {
    padding-top: 80px;
  }
  @media (max-width: $mobileSmall) {
    padding-top: 60px;
  }
}
._title {
  max-width: 603px;
  font-family: "Montserrat";
  font-weight: 700;
  @include adaptiveValue("font-size", 36, 24);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--main-color);
  @include adaptiveValue("margin-bottom", 90, 16);
}

.logo {
  img {
    transition: all 0.3s ease 0s;
    @include adaptiveValue("width", 200, 100);
  }
}

.phone-number_header {
  @media (max-width: $mobile) {
    span {
      display: none;
    }
    &::before {
      color: #000 !important;
      margin-right: 0 !important;
      font-size: rem(24);
    }
  }
}
.mail-address,
.phone-number,
.shop-address {
  font-size: rem(16);
  font-weight: 700;
  display: flex;
  align-items: center;
  white-space: nowrap;
  &::before {
    color: var(--accent-color);
    margin-right: rem(12);
  }
}
.shop-address {
  font-size: rem(16);
  line-height: 140%;
  font-weight: 400;
  white-space: normal;
}

.btns {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 210px);
  @media (max-width: $mobileSmall) {
    grid-template-columns: 1fr;
  }
}
.btn {
  text-align: center;
  background: var(--primary-btn-color);
  color: var(--black-color);
  padding: rem(15) rem(30);
  font-family: "Courier New";
  font-style: normal;
  font-weight: 700;
  font-size: rem(14);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 210px;
  min-height: 46px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: var(--primary-btn-hover-color);
    }
  }
}
.btn_green {
  background: $secondaryBtnColor;
  @media (any-hover: hover) {
    &:hover {
      background: var(--secondary-btn-hover-color);
    }
  }
}
.btn_link {
  font-weight: 700;
  font-size: rem(14);
  text-transform: uppercase;
  color: var(--accent-color);
  display: inline-block;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: rem(-2);
      right: 0;
      background: var(--accent-color);
      height: 1.6px;
    }
  }
}

._icon-arrow-circle-right {
  display: inline-block;
  width: rem(42);
  height: rem(42);
  border-radius: 50%;
  background: var(--gray-color);
  position: relative;
  &::before {
    font-size: rem(45);
    color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// div {
//   width: rem(42);
//   height: rem(42);
//   background: var(--gray-color);
//   &::before {
//     font-size: rem(35);
//     color: var(--main-color);
//   }
// }

.table-title {
  max-width: rem(610);
  font-weight: 700;
  @include adaptiveValue("font-size", 24, 16);
  color: var(--gray-light-color);
  @media (max-width: $tablet) {
    margin-bottom: rem(8);
  }
}
.table-suptitle {
  max-width: none;
}
.table-price {
  font-weight: 700;
  font-size: rem(24);
  color: var(--primary-btn-color);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: rem(15);
  white-space: nowrap;
}
.table-unit {
  &::before {
    content: "/";
    padding-right: rem(15);
  }
}

.page-header-info {
  // .page-header-info__body
  &__body {
    @include adaptiveValue("padding-top", 60, 24);
    @include adaptiveValue("padding-bottom", 60, 24);
    @include adaptiveValue("margin-bottom", 60, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);
    @media (max-width: em(600)) {
      flex-direction: column;
      align-items: start;
    }
  }
  // .page-header-info__title
  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    @include adaptiveValue("font-size", 48, 24);
    line-height: 120%;
    text-transform: uppercase;
    margin-right: rem(20);
    @media (max-width: em(600)) {
      margin-bottom: rem(16);
    }
  }
  // .page-header-info__back-link
  &__back-link {
    font-weight: 700;
    line-height: 140%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &::before {
      transform: rotate(180deg);
      margin-right: rem(20);
    }
  }
}

.body-main-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: $mobile) {
    // display: grid;
    // grid-template-columns: 1fr;
    // gap: rem(32);
    display: flex;
    flex-direction: column;
    gap: rem(32);
  }
  @media (min-width: $mobile) {
    // .body-main-section__column-left
    &__column-left {
      width: percent(344, 1200);
    }
    // .body-main-section__column-right
    &__column-right {
      width: percent(780, 1200);
    }
  }
  // .body-main-section__title
  &__title {
    font-weight: 700;
    line-height: 140%;
    color: var(--accent-color);
    @media (min-width: $mobile) {
      margin-bottom: rem(20);
    }
  }
  // .body-main-section__text
  &__text {
    line-height: 160%;
    p:not(:last-child) {
      margin-bottom: rem(27);
    }
    // .body-main-section__text_bold
    &_bold {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: rem(24);
      line-height: 140%;
      @include adaptiveValue("margin-bottom", 60, 24, $maxWidthContainer, 768, 1);
      @media (max-width: $mobile) {
        font-weight: 500;
        margin-bottom: rem(24);
      }
    }
  }
  // .body-main-section__link
  &__link {
    margin-top: rem(27);
  }
  // .body-main-section__images
  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: rem(65);
    @include adaptiveValue("gap", 65, 16, $maxWidthContainer, 768, 1);
    @media (max-width: em(600)) {
      grid-template-columns: 1fr;
    }
  }
  // .body-main-section__img
  &__img {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
    }
  }
}
.item-main-section {
  padding: rem(30) 0;
  @media (max-width: $tablet) {
    padding: rem(16) 0;
  }
  &:first-child {
    padding-top: 0;
  }
  border-bottom: 1px solid var(--gray-color);
  // .item-main-section__title
  &__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: rem(24);
    line-height: 140%;
    margin-bottom: rem(20);
  }
  // .item-main-section__text
  &__text {
    line-height: 140%;
    font-size: rem(16);
  }
}
.item-main-section-spoller {
  border-bottom: 1px solid var(--gray-color);
  // .item-main-section-spoller__title
  &__title {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: rem(24);
    line-height: 140%;
    position: relative;
    padding: rem(20) 0 rem(20) rem(36);
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: rem(1);
      height: rem(16);
      background: var(--main-color);
      transition: all 0.3s ease 0s;
    }
    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
    @media (max-width: em(600)) {
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
  .item-main-section-spoller__title._spoller-active::after {
    transform: translateY(-50%) rotate(270deg);
  }
  .item-main-section-spoller__title._spoller-active::before {
    transform: translateY(-50%) rotate(90deg);
  }
  // .item-main-section-spoller__text
  &__text {
    line-height: 140%;
    font-size: rem(16);
    padding: rem(20) 0 rem(20) rem(20);
    margin: 0 0 rem(20) rem(36);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background: var(--accent-color);
    }
  }
  // .item-main-section-spoller__list
  &__list {
    padding: rem(20) 0 rem(20) rem(20);
    margin: 0 0 rem(20) rem(36);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background: #dfd1a7;
    }
  }
  // .item-main-section-spoller__item
  &__item {
    padding-bottom: rem(30);
    border-bottom: 1px solid var(--gray-color);
    &:not(:first-child) {
      padding-top: rem(30);
    }
    @media (max-width: $mobile) {
      padding-bottom: rem(15);
      &:not(:first-child) {
        padding-top: rem(15);
      }
    }
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: em(600)) {
      flex-direction: column;
      align-items: start;
    }
  }
  // .item-main-section-spoller__name
  &__name {
    margin-right: rem(20);
    @media (max-width: em(600)) {
      margin-bottom: rem(12);
    }
  }
  // .item-main-section-spoller__price
  &__price {
    text-align: right;
    @media (max-width: em(600)) {
      font-weight: 700;
    }
  }
}
.table-main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: em(600)) {
    grid-template-columns: 1fr;
  }
  // .table-main-section__item
  &__item {
    @media (max-width: em(600)) {
      padding: rem(24) rem(36.5);
      border-bottom: 1px solid var(--gray-color);
      &:first-child {
        border-top: 1px solid var(--gray-color);
      }
    }
    @media (min-width: em(600)) {
      &:nth-child(1) {
        padding: 0 rem(35) rem(30) 0;
        border-bottom: 1px solid var(--gray-color);
      }
      &:nth-child(2) {
        padding: 0 rem(50) rem(30);
        border-bottom: 1px solid var(--gray-color);
        border-left: 1px solid var(--gray-color);
        border-right: 1px solid var(--gray-color);
      }
      &:nth-child(3) {
        padding: 0 0 rem(30) rem(50);
        border-bottom: 1px solid var(--gray-color);
      }
      &:nth-child(4) {
        padding: rem(30) rem(35) 0 0;
      }
      &:nth-child(5) {
        padding: rem(30) rem(50) 0;
        border-left: 1px solid var(--gray-color);
        border-right: 1px solid var(--gray-color);
      }
      &:nth-child(6) {
        padding: rem(30) 0 0 rem(50);
      }
    }
  }
  // .table-main-section__number
  &__number {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(48);
    line-height: 120%;
  }
  // .table-main-section__text
  &__text {
    line-height: 160%;
  }
}
.specialist .body-main-section__link {
  display: inline-flex;
}
.tabs-main-section {
  // .tabs-main-section__navigation
  &__navigation {
    overflow-x: auto;
    width: auto;
    display: flex;
    padding-bottom: rem(15);
    @include adaptiveValue("margin-bottom", 50, 15);
  }
  // .tabs-main-section__title
  &__title {
    &._tab-active {
      background: var(--gray-light-color);
      border: none;
      color: var(--main-color);
    }
    white-space: nowrap;
    font-weight: 700;
    line-height: 140%;
    &:not(:last-child) {
      margin-right: rem(40);
    }
    padding: rem(10) rem(20);
    @media (max-width: $mobile) {
      color: var(--gray-main-color);
      border: 1px solid var(--gray-color);
    }
  }
  // .tabs-main-section__content
  &__content {
    overflow: hidden;
  }
  // .tabs-main-section__body
  &__body {
    animation: fadeInFromNone 0.3s ease;
  }
  // .tabs-main-section__short-descr
  &__short-descr {
    @include adaptiveValue("margin-bottom", 60, 30);
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: start;
    }
  }
  // .tabs-main-section__spec-descr
  &__spec-descr {
    margin-right: rem(20);
    @media (max-width: $mobile) {
      margin-bottom: rem(16);
    }
  }
  // .tabs-main-section__name-spec
  &__name-spec {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(24);
    line-height: 140%;
    margin-bottom: rem(20);
  }
  // .tabs-main-section__descr
  &__descr {
    font-size: rem(16);
    line-height: 140%;
  }
  // .tabs-main-section__paragraph
  &__paragraph {
  }
  // .tabs-main-section__pay
  &__pay {
    font-family: "Montserrat";
    font-size: rem(16);
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width: $mobile) {
      align-items: start;
      font-weight: 600;
    }
  }
  // .tabs-main-section__text
  &__text {
  }
  // .tabs-main-section__price
  &__price {
    white-space: nowrap;
    line-height: 140%;
    font-weight: 500;
    font-size: rem(24);
    @media (max-width: $mobile) {
      font-weight: 700;
      font-size: rem(48);
      line-height: 120%;
    }
  }
  // .tabs-main-section__options
  &__options {
    margin-top: rem(15);
  }
  // .tabs-main-section__item
  &__item {
  }
}
.item-tabs-main-section {
  &:not(:last-child) {
    margin-bottom: rem(30);
  }
  // .item-tabs-main-section__title
  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(16);
    line-height: 140%;
    padding-bottom: rem(13);
    border-bottom: 2px solid var(--gray-color);
    margin-bottom: rem(35);
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }
  // .item-tabs-main-section__list
  &__list {
  }
  // .item-tabs-main-section__li
  &__li {
    font-size: rem(16);
    line-height: 140%;
    list-style: disc;
    margin-left: rem(20);
  }
}
.half-part-section {
  // .half-part-section__list
  &__list {
    display: flex;
    flex-direction: column;
  }
  // .half-part-section__item
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: rem(16);
    }
    gap: rem(60);
    &:not(:first-child) {
      padding: rem(60) 0;
    }
    border-bottom: 1px solid var(--gray-color);
    &:first-child {
      padding-bottom: rem(60);
    }
  }
  // .half-part-section__title
  &__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(24);
    line-height: 140%;
  }
  // .half-part-section__info
  &__info {
    .shop-address {
      white-space: normal;
    }
    a {
      text-transform: none;
      justify-self: flex-start;
      text-transform: none;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
    .social-links {
      display: grid;
      align-items: center;
      grid-auto-flow: column;
      gap: rem(20);
      justify-content: start;
      a {
        color: var(--accent-color);
        font-size: rem(24);
        margin-bottom: 0;
      }
    }
  }
}
.contacts {
  // .contacts__email
  &__email {
  }
}
.filter {
  @include adaptiveValue("margin-bottom", 60, 32);
  overflow-x: auto;
  // .filter__list
  &__list {
    display: grid;
    grid-auto-flow: column;
    gap: rem(40);
    align-items: center;
    font-weight: 700;
    line-height: 140%;
    justify-content: start;
  }
  // .filter__item
  &__item {
    cursor: pointer;
    white-space: nowrap;
    padding: rem(10) rem(20);
    &_active {
      background: var(--gray-light-color);
    }
  }
}
.background {
  position: relative;
  transition: all 0.3s ease 0s;
  &::after {
    visibility: hidden;
    content: "";
    transition: all 0.3s ease 0s;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--white-color);
  }
}
.click-filter-item {
  &::after {
    visibility: visible;
    content: "";
    opacity: 1;
  }
}

[class*="__img"] {
  @media (any-hover: hover) {
    overflow: hidden;
    img {
      transition: scale 0.9s ease 0s;
    }
    &:hover {
      img {
        scale: 1.1;
      }
    }
  }
}

.prices__container {
  display: flex;
  flex-direction: column;
}
.prices__btn {
  display: inline-block;
  margin: rem(60) auto 0;
  @media (max-width: $mobile) {
    margin: rem(32) 0 0 0;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
    // margin-left: 100px;
    transform: translateX(100px);
    // transform: scale(1.1);
  }
  100% {
    opacity: 1;
    margin-left: 0px;
    transform: translateX(0px);
    // transform: scale(1);
  }
}

// мои чекбоксы
// ! Checkbox
// .checkbox {
//     &:not(:last-child) {
//         margin-bottom: rem(15);
//     }
//     &__label {
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//     }

//     &__input {
//         appearance: none;
//         &:checked + .checkbox__fake:before {
//             transform: scale(1);
//         }
//         &:checked ~ .checkbox__text {
//             color: rgba(42, 42, 42, 1);
//             font-weight: 700;
//         }
//         &:focus + .checkbox__fake {
//             transition: all 0.2s ease 0s;
//             border: 1px solid rgba(var(--accent-color), $alpha: 1);
//             box-shadow: 0 0 10px 0 var(--accent-color);
//         }
//         &:checked:focus + .checkbox__fake {
//             border: 1px solid rgba(var(--main-color), $alpha: 0.38);
//             box-shadow: 0 0 0 0;
//         }
//     }
//     &__text {
//         transition: all 0.2s ease 0s;
//         color: rgba(42, 42, 42, 0.85);
//     }
//     &__fake {
//         width: rem(21);
//         height: rem(21);
//         flex: 0 0 21px;
//         border: 1px solid rgba(var(--main-color), $alpha: 0.38);
//         border-radius: rem(7);
//         margin-right: rem(13);
//         &::before {
//             transition: all 0.2s ease 0s;
//             content: "";
//             position: absolute;
//             width: 20px;
//             height: 20px;
//             background: url("@img/icons/check.svg") center center no-repeat;
//             transform: scale(0);
//         }
//     }
// }
//! html checkbox
// <li class="filter-catalog__item checkbox">
//                           <label class="checkbox__label">
//                             <input class="checkbox__input" type="checkbox" name="form[]" value="Вечериночные игры">
//                             <span class="checkbox__fake"></span>
//                             <span class="checkbox__text">Вечериночные игры</span>
//                           </label>
//                         </li>
